@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rethink Sans", sans-serif;
}

body{
  background-color: rgb(48, 47, 47);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden
}

#app {
  width: 100vw;
  height: 90vh; /* Limita a altura da página */
  max-height: 90vh;
  padding: 20px;
  background-color: rgb(48, 47, 47);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden; /* Esconde a rolagem horizontal */
}

#chat_container {
  flex: 1;
  width: 100%;
  max-width: 100%; /* Evita a rolagem horizontal */
  max-height: calc(90vh - 100px); /* Limita a altura do container antes da área de digitação */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  overflow-y: auto; /* Permite apenas rolagem vertical */
  overflow-x: hidden; /* Esconde a rolagem horizontal */
}

form{
  position: fixed;
  bottom: 10px;
  width: 100%;
  max-width:65%;
  margin:  0 auto;
  padding: 2px;
  background-color: #40413f;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 20px;
  position: relative;
  top: -1%;
}

input{
  resize: none;
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 5px;
  background-color: #40413f;
  border-radius: 10px;
  border: none;
  outline: none;
}

button{
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: #807f7f;
}

#creditos {
  position: fixed;
  bottom: 10px; /* Alinha o texto ao fundo da página */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta o posicionamento para centralizar corretamente */
  font-size: 12px; /* Tamanho pequeno do texto */
  color: #aaa; /* Cor clara e discreta */
  text-align: center; /* Centraliza o texto */
}
form i{
  font-size: 20px;
  padding: 10px;
}

form i:hover{
  color: #807f7f8a;
}


.tittle{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.tiitle i , h2{
  padding-left  : 10px;
}

.user-message{
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f1f1f11c;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  text-align: right;
  align-self: flex-end;
  color: #fff;
  position: relative;
  left: -18%
  
}

.bot-message {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #4c4e4d;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  text-align: left;
  align-self: flex-start;
  color: #fff;
  position: relative;
  left: 18% 
}

.loading-message {
  color: #fff; 
  text-align: left;  
  position: relative;
  left: 20%;
  font-size: 20px;  
  margin: 5px 0;  
}


::-webkit-scrollbar {
  width: 12px;  
  height: 12px; 
}


::-webkit-scrollbar-track {
  background-color: #333;  
  border-radius: 10px;     
}


::-webkit-scrollbar-thumb {
  background-color: #555;  
  border-radius: 10px;      
  border: 2px solid #333;   
}


::-webkit-scrollbar-thumb:hover {
  background-color: #777;  
}

header a{
  text-decoration: none;
  color: #fff;
}

