<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CG ChatBOT</title>
    <link rel="shortcut icon" href="/static/bot.png" type="image/png">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="tittle">
        <h2>ChatBOT</h2>
    </header>
    <main id="app">
        <div id="chat_container"></div>
        <form id="chat_form" method="post">
            <input id="mensagem" name="prompt" placeholder="Digite algo..." required />
            <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
        </form>
    </main>
    <div class="border-left" id="border"></div>
    <div class="border-right" id="border"></div>
    
    <script type="module" src="static/main.js"></script>
</body>
</html>
